@import "../node_modules/@blueprintjs/core/lib/css/blueprint.css"
@import "../node_modules/normalize.css/normalize.css"
@import "Stock"

html, body, #root
	height: 100%

#root
	display: flex

#sidebar
	min-width: 300px
	width: 20%
	max-width: 400px
	flex: auto 0

#portfolio > h3
	align-items: center
	display: flex
	justify-content: space-between

#portfolio > *
	margin-top: 20px

#main-view
	flex: 1 0
